<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class='my-[5em] px-4 md:px-8 lg:px-16'>
        <Zoom>
            <h1 class='text-4xl md:text-5xl lg:text-[5em] text-primary text-center font-bold leading-tight'>
                BlockerHeader Wallet
            </h1>
            <p class='text-white text-center text-md md:text-2xl lg:text-2xl mt-4 max-w-4xl mx-auto'>
                BlockerHeader Wallet provides a simple and secure way to connect to blockchain-based applications. You are always in control when interacting on the new decentralized web.
            </p>
        </Zoom>
        <Fade>
            <div class="flex flex-col sm:flex-row justify-center items-center mt-10 gap-5">
                <a href="/generate-wallet">
                    <button class="bg-primary text-black rounded-md w-full lg:w-auto py-6 px-10 cursor-pointer">
                        Create Wallet
                    </button>
                </a>
                <a href="/import">
                    <button class="bg-primary text-black rounded-md w-full lg:w-auto py-6 px-10 cursor-pointer">
                        Import Wallet
                    </button>
                </a>
            </div>
        </Fade>
    </div>
</body>
</html>